.card{
    text-align: center;
}

.cardbuttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card img{
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
    height: 150px;
    width: 150px;
}

.card img:hover{
    transform: scale(0.95);
}

button{
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: all 0.5s ease;
}

button:hover{
    color: black;
    background-color: rgb(190, 190, 190);
    cursor: pointer;
}

.deletecard:hover{
    color: black;
    background-color: red;
}

.upvotebutton{
    background-color: green;
}

.upvotebutton:hover{
    background-color: rgb(16, 216, 16);
}
